# Build C
/build/
*.o
*.so
*.dll
*.exe

# Python
__pycache__/
*.pyc
analisi maxdati.py

# File locali
.env
*.log

# IDE / OS
.vscode/
.idea/
.DS_Store
*.tex
# Output simulazioni
output/
*.csv
*.xlsx
*.bat
tempCodeRunnerFile.py

# File di design e demo del drone
interfaccia_grafica_demo.py
drone.svg
DRONE.drawio.png
Diagramma senza titolo.drawio
docmentazione.latex
ROCKET/