# Build C
/build/
*.o
*.so
*.dll
*.exe

# Python
__pycache__/
*.pyc
analisi maxdati.py

# File locali
.env
*.log

# IDE / OS
.vscode/
.idea/
.DS_Store

# Output simulazioni
output/
*.csv
*.tex
*.xlsx
*.bat
tempCodeRunnerFile.py